{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="container" align="center">
    <br>
    <br>
    <br>
    <a href="register"><img src="{% static 'img/Guest Worker.png' %}" width="300px" height="300px"></a>
    <a href="RegisterView_contractor"><img src="{% static 'img/contractor.png' %}" width="300px" height="300px"></a>
    <a href="reg_sponsor"><img src="{% static 'img/sponsor.png' %}" width="300px" height="300px" ></a>
    <br>
    <label color="black" size="15" style="padding-right: 100px"><h3>Guest Worker</h3></label>
    <label color="black" style="padding-left: 100px"> <h3>contractor</h3> </label>
    <label color="black" style="padding-left: 180px"> <h3>sponsor</h3> </label>
</div>
<br>
<br>


{% endblock %}