{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h2>Welcome</h2><h3>{{ user.first_name }}</h3>
                        <p><a href="index.html">Home</a> / About</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- about_area_start  -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">

                </div>
                <div class="col-lg-6">
                    <div class="about_info pl-70">
                        <div class="section_title mb-55">


                        </div>
                        <div class="info_inner">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end  -->
{% endblock %}
